#SubjectSelect {
    display: flex;
    flex-direction: row;
    font-size: 1.2rem;
    line-height: 1;
}

#SubjectSelect label {
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;

    font-weight: bold;
    color: var(--custom-black);
}

#SubjectSelect input {
    display: none;
}

#SubjectSelect input:checked + span{
    color: var(--custom-green);
}