.TimelineItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    font-size: 1.5rem;
    line-height: 1;
    color: var(--custom-black);
}

.TimelineItem img {
    margin-bottom: 10px;
    height: auto;
    width: auto;
    max-height: 2.5em;
    max-width: 100%;
}

.MainRow {
    display: flex;
    align-items: center;
}

.TimelineItem p {
    margin: 0;
    margin-left: 10px;
    font-size: 1.5rem;
}

.TimelineButton {
    cursor:pointer;
    border: none;

    display: flex;
    align-items: center;
    font-family: inherit;
}

.TimelineButton:hover {
    color: var(--custom-green)
}