#MainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-height: 100vh;
  margin-left: clamp(1rem, 4rem, 5rem);
  margin-right: clamp(1rem, 4rem, 5rem);
  margin-top: 0;
  margin-bottom: 16rem;

  background-color: var(--custom-white);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: var(--custom-black);

  /* underline to text */
  border-bottom: 3px solid var(--custom-green);
  padding-bottom: 1rem;
  margin-bottom: 3rem;
  width: 90%;
}
