html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

:root {
  /* colors from: https://colorhunt.co/palette/748873d1a980e5e0d8f8f8f8 */
  --custom-green: #748873;
  --custom-brown: #D1A980;
  --custom-tan: #E5E0D8;
  --custom-white: #F8F8F8;
  --custom-black: #122332;

  font-family: 'Times New Roman', Times, serif;
  line-height: 0;
  font-weight: 0;
  text-align: center;
  
  padding: 0;
  margin: 0;

  color-scheme: light;
  color: var(--custom-black);
  background-color: var(--custom-tan);

  font-synthesis: none;
  text-rendering: auto;
  -webkit-font-smoothing: initial;
  -moz-osx-font-smoothing: initial;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
